<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit cookies</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<link rel="stylesheet" href="{{url_for('static', filename = 'main.css')}}">
</head>
<body>
    <a href="/show/orders">Orders List</a>
    <h1 class="cart-title">Edit Your Cart</h1>
    <form action="/update/order" method="post">
        <input type="hidden" value="{{orders.id}}" name="id">
        <label for="name">Your Name</label>
        <input type="text" name="name" value="{{orders.name}}">
        <label for="type">Cookie Type</label>
        <select name="type" id="type">
            <option value="Chocolate Chip">Chocolate Chip</option>
            <option value="White Chocolate">White Chocolate</option>
            <option value="Raspberry">Raspberry</option>
        </select>
        <label for="amount">Number of boxes</label>
        <input type="number" value="{{orders.amount}}" name="amount" min="0" max="200" step="1">
        <div class="btn-div">
            <input class="checkout-btn" type="submit" value="Buy">
        </div>
    </form>
</body>
</html>